body {
    line-height: 30px;
    color: #777;
    background: #27ae60;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: #696969;;
}

h1 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

h2 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

h3 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

h4 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

h5 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

h6 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}