body {
    color: #777;
    background: #27ae60;
}

p {
    font-family: 'Roboto Mono', monospace;
    color: #696969;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
    color: #555555;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}